.post {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
  }
  .P-Box1{
      width: 98%;
      height: 7vh;
  
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 2px 4px gray;
      background-color: #FFFFFF;
  }
  .P-Title1{ 
      font-size: 20px;
      font-weight: 700;
      color: #2E4374;
      text-align: center;
  }
  
  .P-Box2{
    width: 98%;
    height: 7vh;
  
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px gray;
    background-color: #FFFFFF;
  }
  .P-Title2{
    font-size: 13px;
    font-weight: 500;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .P-Sub1{
    font-size: 10px;
    font-weight: 300;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  
  .P-Box3{
    width: 98%;
    height: 30vh;
  
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px gray;
    background-color: #FFFFFF;
  }
  
  .P-Title3{
    font-size: 15px;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  
  .footer{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 4px gray;
    background-color: #FFFFFF;
  }
  .P-Box4{
    width: 97%;
    height: 38vh;
  
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
  }
  
  .P-Box {
    margin: 1%;
    display: flex;
    flex-direction: column;
  
    border-radius: 5px;
    box-shadow: 0 2px 4px gray;
  }
  
  .P-Title{
    font-size: 4vw;
    color: #2E4374;
    font-style: bold;
    font-weight: 600;
  
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .P-Sub{
    font-size: 3vw;
    color: #2E4374;
    font-style: bold;
    font-weight: 600;
  
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .P-Box5{
    width: 98%;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    display: inline-block;
  }
  
  .custom-input {
    display: inline-block;
    width: 72%;
    max-width: 87%;
    padding: 10px; 
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  .custom-input:focus {
    border-color: #2E4374;
    box-shadow: inset 0 2px 4px black;
    outline: none; 
  }
  
  .custom-input::placeholder {
    color: #aaa;
  }
  
  .Submit-Button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #2E4374;
    border-radius: 5px 5px 5px 5px;
    font-size: 16;
  }